In [1]:
import scanpy as sc
import pandas as pd
import numpy as np
import anndata
from pathlib import Path

In [2]:
SAMPLE_NAME = "concat_withWu2022"

In [3]:
DIR2SAVE = Path(
    f"/data/BCI-CRC/nasrine/data/CRC/spatial/CRC_LM_VISIUM/CRC_LM_VISIUM_04_08_09_11/cellphonedb3/{SAMPLE_NAME}/"
)
DIR2SAVE.mkdir(parents=True, exist_ok=True)

In [4]:
# save expression matrix normalised
import scipy

normalised_X = scipy.sparse.load_npz(DIR2SAVE.joinpath("counts_normalised.npz"))

# save obs index
my_obs = pd.read_csv(DIR2SAVE.joinpath("obs.csv"), header=0, index_col=0)

# save var names
my_var = pd.read_csv(DIR2SAVE.joinpath("var.csv"), header=0, index_col=0)

In [5]:
my_obs

,cell_source,Annotation_scVI,Annotation_scVI_detailed
CRC01_LM#AAACATGCATCAGCAC-1-BCI-Nuclei,BCI-Nuclei,Myeloid,SPP1 Mac
CRC01_LM#AACATAGCAGGATAAC-1-BCI-Nuclei,BCI-Nuclei,Myeloid,SPP1 Mac
CRC01_LM#AGAACAAGTGGTTATG-1-BCI-Nuclei,BCI-Nuclei,Endothelial,Lymphatic endo
CRC01_LM#AGGTTGCGTGAGCAAG-1-BCI-Nuclei,BCI-Nuclei,Endothelial,Tip-like endo
CRC01_LM#CACCTCAGTGGTTATG-1-BCI-Nuclei,BCI-Nuclei,Endothelial,Tip-like endo
...,...,...,...
CRC15_LM#TTTATGGAGTTTCCGC-1-BCI-Nuclei,BCI-Nuclei,Epithelial,TA1
CRC15_LM#TTTCCGGGTTCTTTAG-1-BCI-Nuclei,BCI-Nuclei,Epithelial,Hypoxia
CRC15_LM#TTTGGCTGTTAACGAT-1-BCI-Nuclei,BCI-Nuclei,Epithelial,TA1
CRC15_LM#TTTGTCCCAGGAATCG-1-BCI-Nuclei,BCI-Nuclei,Epithelial,TA1
CRC15_LM#TTTGTGAAGGACTTAC-1-BCI-Nuclei,BCI-Nuclei,Epithelial,Intermediate

In [6]:
my_var

              n_cells-Nasrine  n_cells
A1BG                  15552.0    13294
A1BG-AS1               1504.0     1315
A1CF                    536.0     5241
A2M                    7274.0     4858
A2M-AS1                2075.0     1841
...                       ...      ...
ZYG11B                 3529.0     6974
ZYX                   19380.0    18347
ZZEF1                  6826.0    11567
ZZZ3                   1537.0     1254
bP-21264C1.2             57.0       43

[33787 rows x 2 columns]

In [7]:
normalised_X

<109862x33787 sparse matrix of type '<class 'numpy.float32'>'
	with 144036558 stored elements in Compressed Sparse Row format>

In [8]:
adata = anndata.AnnData(X=normalised_X, var=my_var, obs=my_obs, asview=False)
print(adata.shape)

(109862, 33787)

In [9]:
adata

AnnData object with n_obs × n_vars = 109862 × 33787
    obs: 'cell_source', 'Annotation_scVI', 'Annotation_scVI_detailed'
    var: 'n_cells-Nasrine', 'n_cells'

In [10]:
adata.write(
    DIR2SAVE.joinpath(
        "Multiome_Che_Wu_CRC_LM_counts_normalised_compatible_anndata.h5ad"
    )
)

/data/BCI-CRC/nasrine/anaconda/envs/scanpy/lib/python3.8/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'cell_source' as categorical
/data/BCI-CRC/nasrine/anaconda/envs/scanpy/lib/python3.8/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'Annotation_scVI' as categorical
/data/BCI-CRC/nasrine/anaconda/envs/scanpy/lib/python3.8/site-packages/anndata/_core/anndata.py:1220: FutureWarning: The `inplace` parameter in pandas.Categorical.reorder_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  c.reorder_categories(natsorted(c.categories), inplace=True)
... storing 'Annotation_scVI_detailed' as categorical